@using TicketView.Models
@model TicketView.Controllers.HomeController.ViewModel
@{
    Layout = "_Layout.cshtml";
}
<div class="col-md-2">
    @using (Html.BeginForm())
    {
        <div class="form-group">
            @Html.LabelFor(a => a.SelectedMilestone, "Milestone:")
            @Html.DropDownListFor(a => a.SelectedMilestone, Model.Milestones, new {@class = "form-control", @onchange="return windowRefresh();"})
        </div>
        @Html.HiddenFor(a=>a.CompletedHidden)
        <p id="hide-completed" class="text-center h1" onclick="return changeHideStatus(this);">
            @if (Model.CompletedHidden)
            {
                <i class="fa fa-eye-slash js-show-completed"></i>
            }
            else
            {
                <i class="fa fa-eye js-hide-completed"></i>
            }
        </p>
        <script type="text/javascript">
            function windowRefresh() {
                document.forms[0].submit();
                return false;
            }
            
            function changeHideStatus(a) {
                var f = $(a).find("i");
                if (f.hasClass("js-show-completed"))
                    $("#CompletedHidden").val("false");
                else
                    $("#CompletedHidden").val("true");

                windowRefresh();
            }

        </script>        
    }
</div>
<div class="col-md-9">
@foreach (Ticket ticket in Model.Tickets)
{
    var faded = @ticket.PanelFaded ? "faded" : null;
    <div class="col-md-4">
        <div class="ticket panel @ticket.PanelStyle @faded">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="label label-default handle">#@ticket.Number</span> 
                    <a href="https://www.assembla.com/spaces/ndproject/tickets/@ticket.Number" target="_blank">@ticket.Title</a>
                </h3>
            </div>
            <div class="panel-body">
                <ul>
                    <li>Status: <strong>@ticket.Status</strong></li>
                    <li>Priority: <strong>@ticket.Priority</strong></li>
                    <li>Component: <strong>@ticket.Component</strong></li>
                    <li>Created: <strong>@ticket.Created.ToShortDateString()</strong></li>
                </ul>
            </div>
        </div>
    </div>
}
</div>
<div class="col-md-1">
          
</div>